out
dist
pnpm-lock.yaml
**/apps/server/public/areas/**
**/apps/server/public/tilesets/**
**/apps/server/drizzle/**
docker/grafana/dashboards
docker/keycloak/import
**/*.generated.*
**/*.gen.*
.playwright