out
dist
pnpm-lock.yaml
integrations/db-client/drizzle
docker/caddy/public/areas
docker/caddy/public/tilesets
docker/grafana/dashboards
docker/keycloak/import
**/*.generated.*
**/*.gen.*
.playwright
.tanstack