{
	order rate_limit before basicauth
    email admin@{$MP_DOMAIN}
}

(common_rate_limit) {
    rate_limit {
        zone dynamic_zone {
            key {http.request.remote_ip}
            events {$CADDY_RATE_LIMIT_EVENTS}
            window 5s
        }
    }
}

grafana.{$MP_DOMAIN} {
    reverse_proxy http://grafana:3000
}

auth.{$MP_DOMAIN} {
    tracing {
        span keycloak
    }
    reverse_proxy keycloak:8080
}

faro.{$MP_DOMAIN} {
    reverse_proxy alloy:18273
}

{$MP_FILE_SERVER_DOMAIN} {
	import common_rate_limit
    reverse_proxy file-server:80
}

{$MP_CLIENT_DOMAIN} {
    import common_rate_limit
    reverse_proxy {$MP_CLIENT_PROXY_HOST}
}

{$MP_GATEWAY_DOMAIN} {
    import common_rate_limit
    tracing {
        span mp_gateway
    }
    reverse_proxy {$MP_GATEWAY_PROXY_HOST}
}
