{
	order rate_limit before basicauth
    email admin@{$MP_DOMAIN}
}

# Global access logging for fail2ban monitoring
(access_log) {
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

(common_rate_limit) {
    rate_limit {
        zone dynamic_zone {
            key {http.request.remote_ip}
            events {$CADDY_RATE_LIMIT_EVENTS}
            window 5s
        }
    }
}

grafana.{$MP_DOMAIN} {
    import access_log
    reverse_proxy http://grafana:3000
}

auth.{$MP_DOMAIN} {
    import access_log
    tracing {
        span keycloak
    }
    reverse_proxy keycloak:8080
}

faro.{$MP_DOMAIN} {
    import access_log
    reverse_proxy alloy:18273
}

{$MP_CLIENT_DOMAIN} {
    import access_log
    import common_rate_limit
    reverse_proxy {$MP_CLIENT_PROXY_HOST}
}

{$MP_SERVER_DOMAIN} {
    import access_log
    import common_rate_limit
    tracing {
        span mp_server
    }
    reverse_proxy {$MP_SERVER_PROXY_HOST}
}
